* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--fill-color-inverted) transparent !important;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background:  var(--background-color-layer);
  color: var(--text-color-main);
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color:  var(--primary-main);
}

svg {
  outline: none;
}

iframe {
  border: none;
  display: block;
  vertical-align: middle;
}

// 清除过度效果
.noTransition {
  *:not(
  .transition,
  .transition *,
  .loading-container,
  .loading-container *
  ),
  *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
}
