root {
  /* 主题色 */
  --color-primary: #6675ff;
  --color-primary-hover: color-mix(in srgb, var(--color-primary), #fff 15%);
  --color-primary-active: color-mix(in srgb, var(--color-primary), #000 15%);
  --color-primary-disabled: color-mix(in srgb, var(--color-primary), transparent 50%);
  --color-primary-shallow-1: color-mix(in srgb, var(--color-primary), white 90%);
  --color-primary-shallow-2: color-mix(in srgb, var(--color-primary), white 70%);
  --color-primary-shallow-3: color-mix(in srgb, var(--color-primary), white 55%);
  --color-primary-shallow-4: color-mix(in srgb, var(--color-primary), white 35%);
  --color-primary-shallow-5: color-mix(in srgb, var(--color-primary), white 15%);

  // 布局背景色
  --color-bg-layout: #f6f6f6;
  // 容器背景色
  --color-bg-container: #ffffff;
  // 浮层背景色
  --color-bg-layer: #ffffff;
  // 反转背景色
  --color-bg-inverted: #24242b;

  // 主要文本色
  --color-text-main: rgba(31, 34, 37, .9);
  // 次要文本色
  --color-text-secondary: rgba(51, 54, 57, .9);
  // 辅助文本色
  --color-text-tertiary: rgba(118, 124, 130, .9);
  // 禁用文本色
  --color-text-disabled: rgba(194, 194, 194, .9);
  // 反转文本色
  --color-text-inverted: rgba(255, 255, 255, .9);

  // 填充色
  --color-fill-base: rgba(225,225,225,.8);
  --color-fill-secondary: rgba(225,225,225,.4);
  --color-fill-tertiary: rgba(225,225,225,.2);
  --color-fill-inverted: rgba(100,100,100,.2);

  // 边框色
  --color-border-base: rgba(224,224,230,.9);
  --color-border-secondary: rgba(224,224,230,.8);
  --color-border-tertiary: rgba(224,224,230,.6);
  --color-border-inverted: rgba(255,255,255,.1);

  // 文本大小
  --text-size-sm: 12px;
  --text-size-md: 14px;
  --text-size-lg: 16px;
  --text-size-xl: 18px;

  // 边框圆角
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
}